main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer, form {
    display: flex;
    gap: 10px;
}